<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>404</mat-card-title>
            <mat-card-subtitle>Page Not Found</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Sorry, but the page you were trying to view does not exist.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-stroked-button routerLink="/groups">
                <mat-icon>arrow_back_ios</mat-icon>
                Go back to Groups
            </a>
        </mat-card-actions>
    </mat-card>
</div>
