<mat-card [ngClass]="{inactive: inActive}" class="list-item">
    <mat-checkbox (change)="editTask('changeStatus')" [(ngModel)]="!task.active"></mat-checkbox>
    <div class="container-text">
        <span [ngClass]="{inactive: inActive}" class="date-item">{{ task.deadline | date:'EEEE, MMMM d, y, HH:mm':'en-US' }}</span>
        <span [ngClass]="{completed: !task.active}" class="text-item">{{ task.text }}</span>
    </div>
    <span class="container-button">
        <button (click)="editTask('editData')" class="control-button" color="primary" mat-icon-button>
            <mat-icon>create</mat-icon>
        </button>
        <button (click)="editTask('removeTask')" class="control-button" color="warn" mat-icon-button>
            <mat-icon>clear</mat-icon>
        </button>
    </span>
</mat-card>
