<h1 mat-dialog-title>{{ dialogParameters.title }}</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline" class="input-task">
        <mat-label>{{ dialogParameters.label }}</mat-label>
        <input [(ngModel)]="data.name" matInput name="text-new-task">
    </mat-form-field>
</div>
<div mat-dialog-actions class="button-block">
    <button mat-stroked-button (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button color="accent" [mat-dialog-close]="data.name">{{ dialogParameters.button }}</button>
</div>

