<h1 mat-dialog-title>{{ dialogParameters.title }}</h1>
<form [formGroup]="groupForm" class="form-block">
    <div mat-dialog-content>
        <mat-form-field appearance="outline" class="input-task">
            <mat-label>{{ dialogParameters.labels[0] }}</mat-label>
            <input formControlName="groupName" matInput name="text-new-task">
            <mat-hint *ngIf="groupForm.controls['groupName'].invalid && groupForm.controls['groupName'].touched"
                      class="error">Please enter the name
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="button-block" mat-dialog-actions>
        <button (click)="dialogRef.close()" mat-stroked-button type="button">Cancel</button>
        <button [disabled]="groupForm.invalid" [mat-dialog-close]="createResponse()" color="accent"
                mat-flat-button>{{ dialogParameters.button }}</button>
    </div>
</form>


