<a mat-stroked-button routerLink="/groups">
    <mat-icon>arrow_back_ios</mat-icon>
    Go back</a>
<h1 class="title">Group "{{ group.name }}"</h1>
<mat-card class="info-card">
    <div class="container-button">
        <button (click)="filterTask('all')" [class.active]="filters.all"
                class="filter-button" mat-stroked-button>All
        </button>
        <button (click)="filterTask('today')" [class.active]="filters.today"
                class="filter-button" mat-stroked-button>Today
        </button>
        <button (click)="filterTask('active')" [class.active]="filters.active"
                class="filter-button" mat-stroked-button>Active
        </button>
        <button (click)="filterTask('completed')" [class.active]="filters.completed"
                class="filter-button" mat-stroked-button>Completed
        </button>
    </div>
    <button (click)="clearCompletedTasks()" [style.display]="filters.active ? 'none' : 'block'" class="clear-button"
            mat-stroked-button>Clear completed
    </button>
</mat-card>
<mat-card class="info-card">
    <mat-checkbox #matCheckbox (change)="changeAllTasksStatus($event)">
        <strong>Complete all task</strong>
    </mat-checkbox>
    <strong [style.display]="filters.completed ? 'none' : 'block'" class="active-number">
        {{ activeTasksCount }} items left</strong>
</mat-card>
<app-to-do (editTaskEmitter)="editTaskList($event)" *ngFor="let item of renderList.reverse()" [task]="item"></app-to-do>
<app-floating-button (clickEmitter)="openDialog(false)"></app-floating-button>
