<h1 mat-dialog-title>{{ dialogParameters.title }}</h1>
<form [formGroup]="taskForm" class="form-block" novalidate>
    <div mat-dialog-content>
        <mat-form-field appearance="outline" class="input-task textarea">
            <mat-label>{{ dialogParameters.labels[0] }}</mat-label>
            <textarea formControlName="taskText" matInput placeholder="What needs to be done?" rows="4"></textarea>
            <mat-hint *ngIf="taskForm.controls['taskText'].invalid && taskForm.controls['taskText'].touched"
                      class="error">Please enter the text
            </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-task">
            <mat-label>{{ dialogParameters.labels[1] }}</mat-label>
            <input formControlName="taskDate" matInput type="date">
            <mat-hint *ngIf="taskForm.controls.taskDate.invalid && taskForm.controls.taskDate.touched"
                      class="error">Please select a date
            </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-task">
            <mat-label>{{ dialogParameters.labels[2] }}</mat-label>
            <input formControlName="taskTime" matInput type="time">
            <mat-hint *ngIf="taskForm.controls['taskTime'].invalid && taskForm.controls['taskTime'].touched"
                      class="error">Please enter the time
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="button-block" mat-dialog-actions>
        <button (click)="dialogRef.close()" mat-stroked-button type="button">Cancel</button>
        <button [disabled]="taskForm.invalid" [mat-dialog-close]="createResponse()" color="accent"
                mat-flat-button>{{ dialogParameters.button }}</button>
    </div>
</form>
