<form [formGroup]="" class="form-block" novalidate>
    <mat-form-field appearance="outline" class="input-task">
        <mat-label>Create new task</mat-label>
        <input matInput placeholder="What needs to be done?" type="text">
        <mat-hint class="error">Error place</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-task input-small">
        <mat-label>Enter date</mat-label>
        <input matInput type="date">
        <mat-hint class="error">Error place</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-task input-small input-right">
        <mat-label>Enter time</mat-label>
        <input matInput type="time">
        <mat-hint class="error">Error place</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-task">
        <mat-label>Select group</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-hint class="error">Error place</mat-hint>
    </mat-form-field>
    <button class="create-button" color="primary" mat-raised-button>Create</button>

</form>
